@font-face {
  font-family: "IRANSans";
  src: url("../Font/IRANSansWeb.woff") format("woff"),
    url("../Font/IRANSansWeb.ttf") format("ttf"),
    url("../Font/IRANSansWeb.eot") format("eot");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Awsome";
  src: url("../Font/Font-Awsome/fa-v4compatibility.ttf") format("ttf"),
    url("../Font/Font-Awsome/fa-solid-900.woff2") format("woff2"),
    url("../Font/Font-Awsome/fa-regular-400.woff2") format("woff2"),
    url("../Font/Font-Awsome/fa-brands-400.ttf") format("ttf"),
    url("../Font/Font-Awsome/fa-regular-400.woff2") format("woff2"),
    url("../Font/Font-Awsome/fa-regular-400.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IRANSans", "Awsome";
  font-size: 14px;
  color: #505050;
  background-color: #fff;
  overflow-x: hidden;
}

/***********Default setting************/
a,
i,
form button,
.last-products article > div > div .buy-button {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
a:hover,
a:active {
  text-decoration: none;
  color: #008dde;
  outline: none;
}
a:visited,
a:link {
  text-decoration: none;
  outline: none;
}
a {
  color: #000;
}
i,
span,
label,
a {
  display: inline-block;
}
ul {
  list-style: none !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.border-radius,
.comment-layer,
.comment-layer header span,
.comment-layer ul img,
.comment-layer ul li,
.comment-layer ul li .reply-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
a,
span,
label,
i,
p,
div {
  font-weight: normal !important;
}

/***********clearFix************/
.top-menu ul:after,
.clientarea ul:after,
.logo-layer:after,
.mega-menu .container > ul:after,
.mega-menu .container > ul > li > ul:after,
.form-search form:after,
.right-side-content section article ul li:after,
.blog-side ul li:after,
.last-products article div > div:after,
.right-side-content .basket-side article ul li:after,
.pagination-layer:after,
.archive-news article:after,
.detail-product > div:after,
.basket-style .tbl-head ul:after,
.basket-style .tbl-body ul:after,
.basket-style .tbl-body ul li:first-child:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/****Start Top Menu***/
.top-nav {

  background-color: #fff;
  position: relative;
}
.top-nav .container .right-nav {
  padding-right: 0;
}
.top-nav .container .left-nav {
  padding-left: 0;
}
.top-nav .clientarea ul li {
  float: right;
  padding: 0;

}
.top-nav .clientarea ul li a {
  padding: 0 15px;
  display: block;
  line-height: 35px;
}
.top-nav .clientarea ul li a label {
  margin: 0;
}
.top-nav .clientarea ul li a i {
  color:#7c83fd;
  font-size: 18px;
  position: relative;
  margin-left: 4px;
  top: 2px;
}
.top-nav .clientarea ul li a span {
  color: #fff;
  background-color: #7c83fd;
  margin-right: 6px;
  width: 25px;
  height: 25px;

  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  line-height: 23px;
  text-align: center;
  position: relative;
  top: -1px;
}


.top-nav .socials ul li {
  float: left;

}


.top-nav .socials ul li a {
  display: block;
  padding: 0 15px;
  font-size: 20px;
  line-height: 35px;
}
.top-nav .socials ul li a .fa-facebook {
  position: relative;
  top: 2px;
}

/****End Top Menu***/

.header-site {

  padding: 15px 0;
}
.header-site .logo-layer {
  padding-right: 0;
}
.header-site .left-header-site {
  padding-left: 0;
}
.header-site .logo-layer .logo {
  float: right;
  margin-left: 20px;
  max-width: 100px;
  max-height: 100px;
}
.header-site .logo-layer .logo img {
  max-width: 100px;
  max-height: 100px;
}

.logo-layer h1 {
  font-size: 28px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #3677d8;
}
.logo-layer h1 span {
  color: #012443;
}
.logo-layer h2 {
  color: #686868;
  font-size: 20px;
}

.left-header-site {
  text-align: left;
}
.left-header-site h5 {
  font-size: 24px;
  color: #008dde;
  padding-bottom: 5px;
  padding-top: 5px;
}
.left-header-site h3 {
  font-size: 28px;
  color: #008dde;
}

.left-header-site h3 i {
  margin-right: 13px;
  position: relative;
  top: 11px;
}

.icon-phone {
  background: url("../Image/phone.png");
  width: 34px;
  height: 34px;
}

/*mega menu and list**/
.responsive-list {
  position: absolute;
  right: 30px;
  font-size: 32px;
  color: #686868;
  display: none;
  margin-top: 5px;

}
.mega-menu {
  width: 100%;
  background-color: #fff;
  padding: 0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.mega-menu .container {
  position: relative;
}
.mega-menu .container > ul > li {
  float: right;
  padding: 10px 0 10px 15px;
  font-size: 15px;
  font-weight: normal !important;
}
.mega-menu .container > ul > li > a {
  color: #8e8d8d;
}
.mega-menu .container > ul > li > a:hover {
  color: #ee2d2d;
}
.form-search {
  width: 45px;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  position: absolute;
  left: 14px;
  top: 0;
  padding: 0;
  height: 41px;
  background-color: #fff;
}
.form-search > span {
  width: 45px;
  font-size: 21px;
  color: #848484;
  padding: 5px 0;
  text-align: center;
  display: block;
}
.form-search > span:hover {
  cursor: pointer;
  color: #008dde;
}
.form-search form {
  width: 282px;
  position: absolute;
  left: -1px;
  top: 41px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 5px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  display: none;
  z-index: 100;
}

.form-search form input {
  width: 200px;
  border: 1px solid #dfdfdf;
  line-height: 35px;
  padding: 0 10px;
  color: #aaa9a9;
  font-size: 14px;
  float: right;
}

.form-search form button {
  border: 0;
  line-height: 36px;
  padding: 0 10px;
  color: #fff;
  background-color: #008dde;
  font-size: 15px;
  float: left;
}
.form-search form button:hover {
  background-color: #087eb9;
}

/**end megamenu **/

/**Right-side */
.right-side-content {
  padding-right: 0;
}
.left-side-content {
  padding-left: 0;
}
.right-side-content section {
  border: 1px solid #dfdfdf;
  margin-bottom: 15px;
}
.right-side-content section header {
  padding: 10px 15px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 5px;
}
.right-side-content section header h3 {
  line-height: 22px;
  font-size: 16px;
  color: #686868;
}

/** end-Right-side */

/** start-left-side */
.left-side-content {
  padding-left: 0;
}
.left-side-content section header {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.left-side-content section header h2,
.left-side-content section header h3 {
  font-size: 16px;
  color: #949494;
  padding: 5px 15px;
  line-height: 22px;
  border-right: 5px solid #b7b7b7;
}
.left-side-content section header a {
  position: absolute;
  font-size: 15px;
  color: #b7b7b7;
  left: 0;
  top: 2px;
}
/** end-left-side**/

/** category*/
.category-side article {
  padding: 20px;
}
.category-menu > li > ul {
  padding: 10px 0;
}
.category-menu > li > ul li {
  padding: 5px 0;
  line-height: 22px;
}
.category-menu > li {
  position: relative;
  padding-right: 22px;
  line-height: 26px;
  padding-bottom: 10px;
}
.category-menu > li:before {
  position: absolute;
  font-family: "Awsome";
  content: "\f115";
  font-size: 15px;
  color: #012443;
  right: 0;
  top: -5px;
}
.category-menu > li ul li {
  position: relative;
  padding-right: 15px;
}
.category-menu > li a {
  color: #012443;
}
.category-menu > li a:hover {
  color: #dd0c0c;
  padding-right: 10px;
}
.category-menu > li ul li:before {
  position: absolute;
  font-family: "Awsome";
  content: "\f0d9";
  color: #012443;
  font-size: 15px;
  right: 0;
  top: 3px;
}

.internal-style section {
  border: 1px solid #dfdfdf;
  
}
.internal-style section header {
  border-bottom: 1px solid #dfdfdf;
  padding: 5px;
  
}
.internal-style section header h2,
.internal-style section header h3 {
  border-right: 0;
  color: #686868;
}
.internal-style section form {
  padding: 15px;
}
.internal-style .breadcrumb {
  border: 1px solid #dfdfdf;
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}
.internal-style .breadcrumb .active {
  color: #008dde;
}

.last-products article > div > div {
  display: block;
  padding: 1px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
.last-products article h6 {
  text-align: center;
  padding: 5px 10px 10px;
  border-top: 1px dotted #dfdfdf;
  border-bottom: 1px dotted #dfdfdf;
}
.last-products article h6 input {
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.last-products article > div > div img {
display: block;
  margin-bottom: 8px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-bottom: 1px;

  width: 100%;

  padding: 40px;
}
.last-products article > div > div h2 {
  font-size: 14px;
  line-height: 22px;
  padding: 0 10px 5px;
  color: #888888;
  text-align: center;
  margin-bottom: 4px;
}
.last-products article > div > div .price-layer {
  margin-bottom: 10px;
  direction: rtl;
  padding: 5px 10px;
}
.last-products article > div > div .price-layer label {
  width: 100%;
  line-height: 25px;
  padding: 2px 0 4px;
  color: #7c83fd;
  font-size: 17px;
  margin-bottom: -1px;
}
.last-products article > div > div .buy-button {
  line-height: 22px;
  color: #fff;
  background-color: #7c83fd;
  text-align: center;
  margin: 12px 8px;
  padding: 2px;
}
.last-products article > div > div .buy-button label {
  display: block;
  font-size: 21px;
  line-height: 19px;
  padding: 7px 0 2px;
  text-align: center;
}
.last-products article > div > div .buy-button:hover {
  background-color: #012443;
  cursor: pointer;
}
.last-products article > div > div .buy-button:hover label {
  cursor: pointer;
}
.last-products article > div > div:hover {
  cursor: pointer;
}
.last-products article > div > div:hover h2 {
  color: #008dde;
}
.last-products article > div > div {
  margin-bottom: 15px;
  padding: 0 5px;
}

.archive-products {
  border: 0 !important;
  padding: 0 !important;
}
.archive-products article > div {
  padding: 10px !important;
  

}


.archive-products article > div > div {
  margin-bottom: 10px !important;
  border-radius: 5px;
}

.pagination-layer {
  width: 100%;
}
.pagination-layer .pagination {
  margin: 10px 0;
  float: left;
}
.pagination-layer {
  margin-bottom: 20px;
}

footer .top-footer {
  background-color: #fff;
  border-top: 3px solid #008dde;
  padding: 25px 0;
}
footer .top-footer header h3 {
  border-right: 5px solid #008dde;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  padding-right: 15px;
}

.permalink-section ul li {
  line-height: 25px;
  position: relative;
  padding-right: 13px;
}
.permalink-section ul li a {
  color: #4d4d4d;
}
.permalink-section ul li a:hover {
  color: #008dde;
  padding-right: 5px;
}
.permalink-section ul li:before {
  content: "\f0d9";
  font-family: "Awsome";
  position: absolute;
  right: 0;
  font-size: 15px;
  color: #008dde;
  top: 3px;
}
.contact-section p {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 22px;
  padding: 5px 0;
}
.contact-section p i {
  color: #008dde;
  margin-left: 10px;
  font-size: 17px;
}
.bottom-footer {
  width: 100%;
  background-color: #7c83fd;
  padding: 15px 0;
}
.bottom-footer ul {
  padding: 0 0 5px;
}
.bottom-footer ul li {
  display: inline-table;
  padding: 5px;
  line-height: 15px;
}
.bottom-footer p {
  padding: 0;
  line-height: 18px;
  color: #fff;
  margin: 2px 0;
  font-size: 13px;
}
.bottom-footer p a {
  color: #fff;
}
.bottom-footer ul li a {
  color: #fff;
}
.bottom-footer ul li a:hover {
  color: #9a9a9a;
}
.social-layer {
  margin-top: 22px;
}
.social-layer a{
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #008DDE;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  float: left;
  margin-right: 3px

}
.social-layer a > svg{
  padding: 5px;
  
}
.social-layer a:hover{
  color: #fff;
  background-color: #296ACB
}


@media screen and (max-width : 1000px) {
  .responsive-list{display:block;}
  .responsive-list:hover{cursor: pointer; color: #008DDE}
  .mega-menu{height: 43px}
  .mega-menu .container > ul{display: none; position: absolute; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; width: 70%;z-index: 100; right: 65px;top: 8px;background-color: #012443ec;padding: 10px}
  .mega-menu .container > ul > li{display: block; width: 100%;line-height: 22px;padding:6px 15px 5px; color: #fff}
  .mega-menu .container > ul > li a{display: block; color: #fff; line-height: 21px}
  .mega-menu .container > ul > li a:hover{color:#008DDE}
}
@media screen and (max-width : 991px) {
  footer .top-footer section:nth-child(2){ margin-top: 25px}
  footer .top-footer section:nth-child(3){ margin-top: 25px}
  .basket-style .tbl-body .product-image{
    display: none
  }
  .basket-style .tbl-body .product-info-left-side{
    float: none;
    width: 100%
  }
  .basket-style .tbl-footer{
    width: 100%
  }
  .basket-style .tbl-body ul li{
    width: 100%;
    float: none;
    text-align: right !important;
    min-height: auto !important;
    padding: 0 15px !important;
    border-left: 0 !important
  }
  .basket-style .tbl-body ul{
    padding: 10px 0
  }
  .basket-style .tbl-body .product-info-left-side{
    padding-right: 0
  }
  .basket-style .tbl-body p,.basket-style .tbl-body .lbl-price{
    padding: 5px 0
  }
  .basket-style .tbl-body .product-title,
  .basket-style .tbl-body .product-sizes{
    display: block;
    line-height: 24px
  }
  .basket-style .tbl-body .product-sizes{
    padding-bottom: 5px
  }
  .basket-style .tbl-body p label{
    padding: 0
  }
  .basket-style .tbl-head{
    display: none
  }
  .hidden-head{
    display: block;
  }
  .submit-basket-button{
    width: 100%;
    float: none;
  }
  .lbl-hidden{
    display: inline-block !important;
    color: #757675;
    margin-left: 5px
  }
}


@media screen and (max-width : 767px) {
  .top-nav .container .row .left-nav,.header-site .left-header-site{display: none}
  .top-nav .container  .row .right-nav .clientarea ul {display: flex; justify-content: center;  }
  .top-nav .container  .row .right-nav,.header-site .logo-layer{ width: 100%}
  .slider-layer{display: none}
  .baskets-style .row{padding: 0 25px}
  .compare-product-list p label{  display: inline-block; color: #008DDE}
}
@media screen and (max-width : 480px) {
  .logo-layer h1{font-size: 20px; padding-top: 15px}
  .logo-layer h2{font-size: 15px}
}
